 # 'mainnet' | 'testnet' | 'localhost'
CONTRACTS_CONFIG=mainnet
# 'godwoken-testnet' | 'godwoken-mainnet' | 'zksync-testnet' | 'zksync-mainnet' | 'mantle-testnet' | 'mantle-mainnet'
APP_ENVIRONMENT="godwoken-mainnet"
