# Order matters
# below ones takes precedence over the upper ones

# Global owners
*                           @Kuzirashi @samtvlabs

/axon-devops                @serejke 
/docs                       @serejke 
/hyperlane                  @serejke 
