__pycache__
.history
.vscode/
.hypothesis/

.venv/
.env/
env/

pyvenv.cfg
.pytest_cache

.env
.env.local
.env.test
.env.prod

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

build/
dist/
reports/

privkey/

config/local.json
**/*.local.json
**/*.dev.json
src/**/*.json