# OSX
#
.DS_Store

# Visual Studio Code
#
.vscode/
.idea/

# node.js

node_modules/
dist/
static-storybook/

npm-debug.log
yarn-error.log

# env config
.yarnrc
.npmrc
.env

# tests e2e
cypress
tests/e2e/videos
test/e2e/screenshots