<title>
  <%= gettext("%{subnetwork} %{network} Arcadia Explorer", subnetwork: LayoutView.subnetwork_title(), network: LayoutView.network_title()) %>
</title>
<meta name="description" content="<%= gettext "Check out the full %{subnetwork} Arcadia Explorer for analytics, transaction details, and more.", subnetwork: LayoutView.subnetwork_title() %>">
